Source: libtest-package-perl
Section: perl
Priority: optional
Maintainer: Wesley Schwengle <wesleys@>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/Test-Package/

Package: libtest-package-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: (no short description found)
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
